.layout-container {
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 100px 1fr;
}

@media (max-width: 576px) {
  .layout-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
  }
}
